table.calc {
    background-color: #EEEEEE;
    width: 600px;
    height: 800px;
    text-align: center;
  }
  table.calc td, table.calc th {
    border: 1px solid #AAAAAA;
    width: 150px;
    height: 160x;
  }
  table.calc tbody td {
    font-size: 13px;
  }
  table.calc tfoot td {
    font-size: 14px;
  }
  table.calc tfoot .links {
    text-align: right;
  }
  table.calc tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }
  .button {
    width: 100px;
    height: 100px;
    border: none;
    color: black;
    padding: 20px 20px;
    text-align: center justify;
    font-size: 40px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	  background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	  background-color:#ededed;
	  border-radius:6px;
	  border:1px solid #dcdcdc;
	  display:inline-block;
	  cursor:pointer;
	  color:#777777;
	  text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
  }
         
  
  .button:hover {
    background-color: green;
  }
  input {
      width: 400px;
      height: 100px;
      font-size: 60px;
      font-family: 'Press Start 2P', cursive;
      text-align: right;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  .header {
    padding: 60px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background: grey;
    color: white;
    font-size: 30px;
  }
  