table.calc {
    background-color: #EEEEEE;
    width: 600px;
    height: 800px;
    text-align: center;
    padding: 50px;
  }
  table.calc td, table.calc th {
    border: 1px solid #AAAAAA;
    width: 150px;
    height: 160x;
  }
  table.calc tbody td {
    font-size: 13px;
  }
  table.calc tfoot td {
    font-size: 14px;
  }
  table.calc tfoot .links {
    text-align: right;
  }
  table.calc tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }
  .button {
    background-color: #4CAF50;
    width: 100px;
    height: 100px;
    border: none;
    color: black;
    padding: 20px 20px;
    text-align: center justify;
    font-size: 40px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
  }
  
  .button:hover {
    background-color: green;
  }
  input {
      width: 400px;
      height: 100px;
      font-size: 60px;
      font-family: 'Press Start 2P', cursive;
      text-align: right;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  .jumbotron {
    background: rgba(0,0,0,0);
    background-size: cover;
    background-repeat: no-repeat;
  } 
  html {
    height: 150%;
}
  body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,142,171,1) 100%);
  }
  h1 {
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    padding: 50px;
  }
  p {
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    padding: 25px;
  }